<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 SalesIds. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SalesIds_SocialShare::service" title="Social Services" module="SalesIds_SocialShare" sortOrder="100" parent="Magento_Backend::content_elements" action="salesids_socialshare/service" resource="SalesIds_SocialShare::service"/>
    </menu>
</config>
