html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,time,mark,audio,video,details,summary{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent}
article,aside,figure,footer,header,nav,section,details,summary{display:block}
html{height:100%;width:100%;box-sizing:border-box}
*{box-sizing:inherit}
img,object,embed{max-width:100%}
html{overflow-y:scroll}
a{font-size:inherit;text-decoration:none}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0;font-size:inherit}
th{font-weight:700}
td{font-weight:400;vertical-align:top}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
small{font-size:85%}
strong,b{font-weight:700}
em,i{font-style:italic}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em;,bottom:-.25em}
pre,code,kbd,samp{font-family:monospace,sans-serif}
.clickable,label,input[type=button],input[type=submit],input[type=file],button{cursor:pointer}
button,input,select,textarea{margin:0}
button,input[type=button]{width:auto;overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; clear: both;}
.cb{clear:both;}

/* utility styles */
.site-wrap {width: 100%; margin: 0 auto; } /*Add a style with a max-width property to create a centered responsive element*/
.wrapper {width: 100%; margin: 0 auto;} /*For Shopify's wrapper-equivalent*/
.helper {display: inline-block; vertical-align: middle; height: 100%; } /*Helps to vertically center another inline-block element*/
.clear-list {list-style: outside none; } /*Useful for horizontal lists (menus, etc)*/
.clear-list li {display: inline-block;} /*What's he gonna do, Day[9]? He's gonna LINE 'EM UP!*/
.grid-wrapper {display: block; width: 100%; white-space: nowrap;}
.grid-wrapper > * {white-space: normal;}
.grid-item {white-space: normal;display: block;vertical-align: top; width: 100%; clear:both;}
@media all and (min-width: 768px) {
	.grid-item.large-five {display: block; width: 20%; clear: none; float: left; padding-bottom: 20px !important;}
}

.multicheckout .action.primary, .order-review-form .action.primary, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .cart-summary .checkout-methods-items .action.primary.checkout, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary,
.action.primary, .action.primary:hover{background: #58bcb6; color: #fff; font-size: 16px; padding: 10px 15px; border-radius: 0; border:none; font-weight: normal; text-transform: uppercase; box-shadow: -4px -4px #45908b inset;}
.action.primary:hover{opacity: .8;}
.action.secondary{padding: 10px 15px;}

body{font-family: "Noto Sans", sans-serif; height:100%; font-size: 14px;}
ul.compare.wrapper{display:none}
.content{padding-left:10px;padding-right:10px}
.minicart-wrapper .action .text{display:inline-block;width:auto;height:auto;color:#000;font-size:20px;overflow:auto;position:relative}
.footer-top{background-color:#1d1d1f}
footer .fa-phone {margin-right: 5px; }
.block.newsletter .field .control:before{content:"";display:none}
.nav-sections{background-color:#ebe2c9}
.mobile-menu-button{display:inline-block;width:120px;background-color:#e1d6b9;color:#404043;font-size:15px;text-transform:uppercase;height:45px;vertical-align:middle;line-height:45px;padding-left:15px;cursor:pointer}
.block.block-search{display:inline-block;max-width:calc(100% - 160px);width:100%;margin-top:0;text-align:right;margin-left:30px}
.nav-sections .block-search .control{vertical-align:middle;width:100%;max-width:100%;float:none;clear:none;border:none;display:inline-block;padding:0;margin:0}
.nav-sections #search{margin:0;display:inline-block;font-size:12px;max-width:calc(100% - 30px);background-color:#e1d6b9;border:none;font-style:italic}
.nav-sections #search[placeholder]{color:#000}
.nav-sections #search:-moz-placeholder{color:#000}
.nav-sections #search::-moz-placeholder{color:#000}
.nav-sections #search:-ms-input-placeholder{color:#000}
.nav-sections #search::-webkit-input-placeholder{color:#000}
.nav-sections .block-search .label{display:none}
.block-search .action.search{box-shadow:none;background-color:transparent;border:none;padding:0}
.block-search .action.search:before{-webkit-font-smoothing:antialiased;font-size:24px;line-height:22px;color:#000;content:'\e615';font-family:'luma-icons';margin:0;vertical-align:top;display:inline-block;font-weight:400;overflow:hidden;speak:none;text-align:center;padding-top:1px}
.mobile-menu-button > span:before{content:"\e609";font-family:'luma-icons';font-size:30px;vertical-align:bottom;line-height:45px;color:#b8814c;margin-right:10px}
.page-header{background-color:#1d1d1d;margin:0}
header.page-header .nav-toggle{display:none}
header.page-header .logo{margin:0;max-width:calc(100% - 75px);max-height:60px;display:inline-block;vertical-align:middle;position:static;float:none}
header.page-header .logo img{display:inline-block; height:auto; max-height:60px; width: auto;}
.authorization-link:after{content:"|";color:#f7d3ad}
header.page-header .content{padding:20px 10px}
header.page-header .header-right{display:none}
header.page-header .minicart-wrapper{margin-top:0}
.minicart-wrapper .action{color:#82f0e9; text-decoration: none;}
.minicart-wrapper .action .text{color:inherit;font-size:20px;text-transform:uppercase;}
.minicart-wrapper .action:before{color:#82f0e9;font-size:24px;display:block; content: url("../images/sf/cart-icon.png"); text-align: center; line-height: 1;}
.minicart-wrapper .action:hover:before{color:#82f0e9;}
.minicart-wrapper .action.active::before{color:#82f0e9;font-size:24px;}
.minicart-wrapper .counter.qty {display: none;}

.nav-sections{position:static}
.footer-top .content{padding-top:10px;padding-bottom:10px}
.footer-top h4{color:#82f0e9;font-size:15px;text-transform:uppercase;cursor:pointer;padding:20px 0}
.footer-top h4 .fa{float:right;line-height:20px}
.footer-top h4 .fa-minus{display:none}
.footer-top .grid-item{padding-top:0;padding-bottom:0}
.footer-top h4 + ul{display:none}
.footer-top h4.soHotRightNow .fa-plus{display:none}
.footer-top h4.soHotRightNow .fa-minus{display:inline-block}
.footer-top ul li:before{content:"\00b7";color:#2c87a8;font-size:32px;line-height:15px;display:inline-block;vertical-align:middle;padding-bottom:8px;margin-right:5px}
.footer-top a{color:#fff;font-size:14px}
.social-links{text-align:center;border-bottom:1px solid #d7cfb3;padding-bottom:20px}
.not-newsletter{text-align:center;font-size:13px;color:#373739;font-weight:500;padding-top:20px;padding-bottom:10px}
.social-links a{color:#000;font-size:21px;line-height:32px;height:38px;display:inline-block;width:38px;text-align:center;border:2px solid #000;border-radius:50%;padding:0;margin:0 5px}
.social-links a:hover {border-color: white;}
.social-links a img{vertical-align:top;margin-top:6px}
.page-footer > .footer.content{background-color:#fff4d1;padding:20px 0}
.page-footer .newsletter form{border:1px solid #373739}
.page-footer .action.primary{background-image:none;background:transparent;border:none;color:#373739;cursor:pointer;display:inline-block;font-weight:600;padding:7px 15px;font-size:13px;box-sizing:border-box;vertical-align:middle;text-transform:uppercase;line-height:52px;padding:0 20px;box-shadow:none;}
.page-footer .action.primary:active,.page-footer .action.primary:hover{background:#373739;color:#fff4d1}
.block.newsletter input[placeholder]{color:#000}
.block.newsletter input:-moz-placeholder{color:#000}
.block.newsletter input::-moz-placeholder{color:#000}
.block.newsletter input:-ms-input-placeholder{color:#000}
.block.newsletter input::-webkit-input-placeholder{color:#000}
.footer-gutter{color:#77777a;font-size:14px;text-align:center}
.footer-gutter a{color:#77777a}
.footer-gutter .grid-item:last-child{font-size:10px;text-transform:uppercase;line-height:100%;padding:20px 0}
.footer-gutter .grid-item:first-child{padding-bottom:20px}
.nav-sections-items{position:static}
.nav-sections-item-content{display:block;position:fixed;z-index:10;top:0;left:-270px;margin-left:0;margin-top:0;padding:0;width:270px;background:#fff;height:100%;transition-property:left;transition-duration:.5s;transition-delay:0s;transition-timing-function:cubic-bezier(.08,.82,.17,1)}
.nav-sections-item-content.soHotRightNow{left:0; overflow-y:scroll;}
.menu-close-x:before,.menu-close-x:after{content:'';position:absolute;width:40px;height:2px;background-color:#d29b66;border-radius:0;top:16px}
.menu-close-x:before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);left:2px}
.menu-close-x:after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);left:2px}
.menu-close-x{display:inline-block;width:40px;height:40px;vertical-align:middle;position:relative}
.menu-close span{color:#404043;font-size:15px;text-transform:uppercase}
.menu-close{height:88px;padding:27px 10px 0 0;text-align:right;cursor:pointer}
.navigation .level0:nth-last-of-type(2) > .level-top,.navigation .level0:nth-last-of-type(1) > .level-top{color:#98714b}

.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus{color: #435f6a;}
/*.navigation .submenu:not(:first-child) .active > a,.navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active){border:none;}*/

.mobile-questions{display:block;width:100%;margin-top:30px;text-align:center}
.mobile-questions span{display:block;font-weight:700;font-size:18px}
.mobile-userops a,.mobile-questions a{color:#98714b}
.mobile-userops{text-align:center;margin-top:20px;margin-bottom:50px;}
.mobile-userops li{display:inline}
.product-item-actions .actions-secondary > .action.tocompare{display:none}

/* Mega Menus */

.mega-menu-container {display: none; position: absolute; z-index: 2; left:0; background-color: white; width: 100%; opacity: 0.98;}
.mega-menu-div {width: 100%; margin: 0 auto; box-sizing: border-box; }
.mega-menu-div .mmwrap {max-width: 1010px; margin: 0 auto; padding: 0 10px; box-sizing: border-box; display:flex; }
.mmwrap a {color: #1d1d1d; font-weight: 500; font-size: 14px; display: inline-block; width: calc(100% - 20px); }
.mmwrap .mm-image a {display: block; height: auto; width: 100%; }
.mega-menu-2-div {padding: 0 0 7px 0; }
.mega-menu-2 > a {display: none; }
.mega-menu-2 {text-align: center; padding: 25px 0 20px; }
.mega-menu-2-div:before{content: "\00b7"; color: #dbc4ad; font-size: 20px; line-height: 15px; display: inline-block; vertical-align: top; margin-right: 5px; }
.mmwrap .mm-shopall a {font-style: italic; color: grey; }
.mmwrap .mm-shopall a:hover
.navigation .level0 > .level-top.ui-state-active ~ .mega-menu-container {display: block; }
.mmwrap .mm-shopall a:after {content: '\e608'; font-family: "luma-icons"; font-style: normal; font-size: 11px; padding-left: 5px; color: #dbc4ad; }
.mmwrap .mm-shopall a:hover:after {text-decoration: none;}
.mega-menu-2-column[data-col="5"] {width: 20%; }
.mega-menu-2-column[data-col="4"] {width: 25%; }
.mega-menu-2-column[data-col="3"] {width: 33%; }
.mega-menu-2-column[data-col="2"] {width: 50%; }
.mega-menu-2-column[data-col="1"] {width: 100%; }
.mega-menu-2-column {display: inline-block; vertical-align: top; text-align: left; padding-right: 10px; }
.mmfooter {background-color: #212123; text-align: center; padding: 10px 0; }
.footer-txt, .footer-images {display: inline-block; vertical-align: middle; color: #fff4d1; }
.footer-txt {width: 200px; }
.footer-txt span:first-child {font-size: 16px; font-style: italic; font-weight: normal; display: block; text-align: left; line-height: 16px; }
.footer-txt span:nth-child(2) {font-weight: normal; font-size: 25px; display: inline-block; text-align: left; line-height: 25px; text-transform: uppercase; }
.footer-images a {margin: 0 10px; }
.mmfooter-content {max-width: 1010px; margin: 0 auto; text-align: left; }
.mm-image {width: 388px; display: inline-block; }
.mm-image a img {display: block; }
.mega-menu-1 {display: inline-block; width: calc(100% - 398px); vertical-align: top; }
.mm01 .mega-menu-1 {width: 100%; }
.hp-shopby-wrapper .widget a {margin: 5px 5px; display: inline-block; }

/* Contact Us Page */
.cont-sm a {display: inline-block; height: 32px; width: 32px; background-image: url("../images/contact-social.png"); margin: 0 5px;}
.cont-sm a:first-of-type {margin: 0 5px 0 0;}
.cont-sm a:last-of-type {margin: 0 0 0 5px;}
.cont-sm .fb {background-position: 0 0;}
.cont-sm .tw {background-position: -42px 0;}
.cont-sm .bl {background-position: -84px 0;}
.cont-sm .pn {background-position: -126px 0;}
.cont-sm .gp {background-position: -168px 0;}
.cms-contact-us .form.contact {display: block; width: 100%; vertical-align: top; }
.contact-rightcol {display: block; width:100%; vertical-align: middle; text-align: center; background-image: url("../images/bg-comic-full2.jpg"); padding: 20px 0; margin-top: 20px;}
.form.contact .legend > span {font-size: 30px; font-weight: bold; text-align: center; display: inline-block; position: relative; margin: 0 auto; }
.form.contact .legend > span:after {width: 100px; content: ''; border-bottom: 3px solid black; display: block; left: calc(50% - 50px); position: absolute; bottom: -10px; }
.form.contact .fieldset > .legend {border-bottom: 0; text-align: center; }
.form.contact .field.note {text-align: center; color: #7a7a7a; font-size: 15px; line-height: 23px; }
.form.contact .field.note strong {display: block; color: #7a7a7a; font-size: 15px; font-weight: bold; padding-bottom: 5px; }
.contact-rightcol h2 {font-size: 20px; text-transform: uppercase; font-weight: bold; margin-bottom: 10px; }
.rightcol-content p, .cont-ph a {color: #ce9a63; font-size: 15px; font-weight: bold; text-decoration: none; }
.cont-ad {margin: 60px 0; }
.contact-rightcol h2:before {font-family: "FontAwesome"; font-weight: normal; margin-right: 10px; }
.cont-sm h2:before {
	content: '\f0e5';
}
.cont-ad h2:before {
	content: '\f041';
}
.cont-ph h2:before {
	content: '\f095';
}
.form.contact .actions-toolbar > .primary .action:last-child {background-color: #58bcb6; color: white; font-size: 19px; font-family: 'noto sans'; font-weight: normal; line-height: 44px; height: 44px; padding: 0 30px; }
.form.contact .actions-toolbar > .primary .action:last-child span:after {
	content: '\f1d9';
	font-family: 'FontAwesome';
	margin-left: 5px;
}

@media all and (max-width: 1010px) {
	.footer-txt {display: block; margin: 0 auto; padding-bottom: 10px; width: 100%; text-align: center; }
	.footer-txt span:first-child, .footer-txt span:nth-child(2) {display: inline-block; vertical-align: middle; }
	.footer-images {display: block; text-align: center; }
	.footer-txt span:nth-child(2) {margin: 0 5px;}
}
@media all and (max-width: 768px) {
	.mega-menu-container { display: none; }
}


/* Sp 2 */
.sorter-label{font-size:12px;color:#1d1d1d}
.filter-title strong{background-color:#fff;box-shadow:none;border:1px solid #373739;font-size:12px;border-radius:0;}
span[data-price-type="finalPrice"] span::before{content:"Our Price: ";color:#6e6e6e}
.price-label + span[data-price-type="finalPrice"] span::before{content:"Sale price: ";color:#6e6e6e}
.product-item .special-price + .old-price{display:none}
.product-item-name > a{color:#1d1d1d;font-size:14px;}
.toolbar .modes{display: none; }
.toolbar span.toolbar-amount{display: none; }
.product-reviews-summary{display: none;}
.block-title .filter-title{display: none; }
.page-products.product-item-info{padding-left: 5px;}
.preorder .product-image-container::after {content:"";background-image: url("preorderstamp.png"); position: absolute; background-position: bottom left; background-repeat: no-repeat;}

.page-title-wrapper {display: block; position: relative; }
.catalog-category-view h1#page-title-heading {color: #1d1d1d; font-size: 30px; position: static; top: 2px; }
.reserveBadge:before {content: ''; background-image: url('../images/preorderstamp.png'); display: inline-block; width: 25px; height: 25px; vertical-align: middle; margin-right: 10px; background-size: contain;}
.inStockBadge:before {content: ''; background-image: url('../images/in-stock.png'); display: inline-block; width: 25px; height: 25px; vertical-align: middle; margin-right: 10px; background-size: contain;}
.reserveBadge, .inStockBadge {display: block; position: relative; text-align: left; color: black; text-transform: uppercase; font-size: 12px; border-top: 1px solid white; border-right: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9; top: -6px; max-width: 290px; margin: 0 auto; background-color: white;}
.product-item-details .amasty-preorder-note {display: none;}
.product-item-info a.product-item-photo:hover {text-decoration: none; }

@media all and (min-width: 768px) {
	.products.wrapper ~ .toolbar .toolbar-categoryname {display: none; }
	.mobile-menu-close {display: none; }
	.nav-sections {position: relative; }
	.footer-gutter .grid-item {display: inline-block; vertical-align: middle; padding: 0; }
	.footer-gutter .grid-item:first-child, .footer-gutter .grid-item:last-child {padding: 0; }
	.footer-gutter .grid-item:nth-child(1) {width: 20%; }
	.footer-gutter .grid-item:nth-child(2) {width: 40%; }
	.footer-gutter .grid-item:nth-child(3) {width: 40%; }
	.page-footer > .footer.content {width: 100%; max-width: 100%; text-align: center; }
	.social-links, .not-newsletter, .footer.content .block.newsletter {display: inline-block; vertical-align: middle; float: none; padding: 0; }
	.social-links {max-width: 280px; border-bottom: none; }
	.footer.content .block.newsletter {max-width: 380px; }
	.footer-top h4 .fa {display: none !important;}
	.footer-top ul {display: block !important; }
	.section-items.nav-sections-items {position: static; max-width: 1200px; margin: 0 auto; }
	.navigation .level0 > .level-top {font-size: 12px; color: #404043; }
	.block-search .label + .control input {position: absolute; }
	.block-search .label.active + .control input {position: static; }
	header.page-header .content {padding-top: 15px; }
	.mobile-menu-button {display: none; }
    .nav-sections{max-height: 46px}
	.nav-sections-item-content{width: 780px;}
	.nav-sections .block-search .label {position: static; }
	.block.block-search {background-color: #ebe2c9; padding-left: 0px; max-width: 330px; width: calc(100% - 640px); float: none; margin-left: 0; position: relative; right: 1px; top: 7px; overflow: hidden; height: 32px; line-height: 32px; }
	.nav-sections #search {position: absolute; right: 30px; top: 0; width: 100%; max-width: calc(100% - 30px); }
	.block-search .action.search {position: relative; right: 0; top: 0; background-color: #ebe2c9; height: 32px; width: 30px; }
	.navigation .level0 > .level-top:after {content: "\e622"; font-family: "luma-icons"; font-size: 8px; margin-left: 5px; color: #b08963; }
	.navigation .level0:nth-last-of-type(-n+2) > .level-top {color: #b08963; }
	.navigation .level0:nth-last-of-type(-n+2) > .level-top:after {content:""; }
	.navigation .level0:nth-last-of-type(2) > .level-top {margin-left: 0px; }
	.navigation .level0:nth-last-of-type(1) > .level-top:before {content: "\00b7"; margin-right: 5px; font-size: 32px; line-height: 22px; vertical-align: bottom; color: #dbc4ad; height: 32px; display: inline-block; }
	header.page-header .header-right {display: inline-block; width: calc(100% - 410px); text-align: right; }
	.header-right > div, .header-right > div a {font-size: 13px; color: #f7d3ad; display: inline-block; vertical-align: baseline; }
	.header-right > div {margin-right: 10px; }
	.header.links .greet {display: none; }
	.header.links li, .header.links li a {display: inline; font-size: 13px; color: white; margin: 0; }
	.header-right .header.links {display: inline-block; }
	header.page-header .logo, header.page-header .logo img {max-height: 72px; }
    .footer-top h4{padding: 10px 0}
    .catalog-category-view h1#page-title-heading {position: absolute; }
    .nav-sections-item-content {width: 630px; }
    .navigation .level0:nth-last-of-type(2) > .level-top, .navigation .level0:nth-last-of-type(-n+2) > .level-top {padding: 0; pointer-events: auto;}
    .navigation .level0 .level-top.ui-state-focus ~ .mega-menu-container {display: block; }
    .footer-gutter a, .footer-gutter a:hover {cursor: default; text-decoration: none;}
    .cms-contact-us .form.contact {display: table-cell; width: 59%; padding-right: 5%;}
    .contact-rightcol {display: table-cell; width: 40%; padding:0; margin:0;}
}
@media all and (min-width: 980px) {
    .minicart-wrapper .action::before, .minicart-wrapper .action.active::before{display: inline-block; vertical-align: top; font-size: 20px; margin-right: 3px; margin-top: 4px;}
    .minicart-wrapper .action.active:active::before{color: #82f0e9;}
    header.page-header .header-right{width: calc(100% - 440px);}
    header.page-header .minicart-wrapper{margin: 22px 0}

	.navigation .level0 > .level-top {font-size: 15px; }
	.navigation .level0:nth-last-of-type(2) > .level-top {margin: 0 0 0 10px;}
	.block.block-search {max-width: 100%; width: calc(100% - 800px);}
	.not-newsletter img {display: inline-block; vertical-align: middle; }
	.receive {display: inline-block; width: 150px; text-align: right; vertical-align: middle; float: right; margin-top: 15px; line-height: 100%; font-weight: 500; }
	.not-newsletter {width: calc(100% - 640px); max-width: 480px; }
	.nav-sections-item-content {width: 790px;}
}
@media all and (min-width: 1200px) {
	.navigation .level0 > .level-top {margin: 0 16px; }
	.navigation .level0:nth-last-of-type(2) > .level-top {margin: 0 0 0 30px; padding-right: 10px;}
	.navigation .level0:nth-last-of-type(1) > .level-top {margin: 0 0 0 0px; }
	.header-right > div {margin-right: 40px; }
	header.page-header .header-right {padding-right: 60px; }
	.navigation .level0:nth-last-of-type(1) > .level-top:before {margin-right: 16px; }
	.nav-sections-item-content {width: 980px;}
	.block.block-search {max-width: 100%; width: 210px; }
}


/* SP 1 */
.breadcrumbs{display: block; }
.page-layout-2columns-left .column.main{min-height: 0;}
.catalog-category-view h1#page-title-heading{color: #1d1d1d; font-size: 30px;}
.subcategories-list{font-size: 0; margin-left: -1%;}
.subcat{width:19%; display: inline-block; vertical-align: top; text-align: center; font-size: 20px; margin: 0 0 40px 1%; max-width: 230px; border:2px solid #e9e9e9;}
.subcat-img{height: 250px; text-align: center; padding: 10px}
.subcat-img:before{content: ""; display: inline-block; vertical-align: middle; height: 100%; width: 0; margin-left: 0px}
.subcat-img a{display: inline-block; vertical-align: middle; }
.subcat-img a img{display: block}
.subcat-name a{color: #1d1d1d;  display: block; padding: 3px 0 16px; text-decoration: none; line-height: 1.1; font-size: 15px;}
.page-products .product-item .old-price {display: none; }
.subcat-container {display: block; clear: both; margin-top: 60px; }
.subcat-container + .columns {display: none; }

/* IP */
.product-info-main .product-options-bottom .price-box .price-container .price, .product-info-main .product-info-price .price-box .price-container .price{font-size: 28px; line-height: 1;}
.stock.available > span:before {content: ''; background-image: url('../images/in-stock.png'); display: inline-block; width: 35px; height: 35px; vertical-align: middle; margin-right: 10px; }
.stock.available > span.preorder:before {background-image: url('../images/preorderstamp.png');}
.stock.available > span {font-size: 18px; color: #5d5d5d; text-transform: uppercase; font-weight: 500; }
.fotorama__stage__frame .fotorama__img {padding: 15px; }
.fotorama__stage__shaft.fotorama__grab {border: 1px solid #e9e9e9; padding: 15px; }
.fotorama__wrap {padding-left: 20px; }
.stock.available {display: inline-block; vertical-align: top; margin-right: 40px; }
.availability.only {display: inline-block; vertical-align: top; }
.availability.only, .availability.only > strong {font-size: 18px; color: #5d5d5d; text-transform: uppercase; font-weight: 500; }
.availability.only > strong:before {content: ''; background-image: url('../images/inventory-left.png'); display: inline-block; width: 35px; height: 35px; vertical-align: middle; margin-right: 10px; }
.product-info-main .product-info-price .price-box .special-price .price-container .price {color: #3dafa8; font-weight: 500; }
.product-info-main .price-label + span[data-price-type="finalPrice"] span:before {color: #1d1d1d; font-weight: 500; }
.button.add:before {content: '\e621'; font-family: "luma-icons"; color: #6f6f6f; }
.button.deduct:before {content: "\e622"; font-family: "luma-icons"; color: #6f6f6f; }
.qty .button {background-color: #e9e9e9; border-radius: 0; border: none; height: 37px; width: 42px; line-height: 23px; padding: 0; }
.box-tocart .control .input-text.qty {display: inline-block; height: 37px; border: none; vertical-align: top; border: 1px solid #afafaf; box-sizing: border-box; margin-top: 0px; }
.product-add-form .qty .label {display: inline-block; vertical-align: middle; margin: 0 20px 0 0; }
.product-add-form .qty .control {display: inline-block; vertical-align: middle; }
.productDescriptionTitle, #block-related-heading {color: #1d1d1d; font-size: 20px; font-weight: bold; text-transform: uppercase; padding-left: 20px; margin-bottom: 10px; }
.productDescriptionTitle:before {content: ''; background-image: url("../images/product-description-icon.png"); display: inline-block; height: 29px; width: 23px; vertical-align: middle; margin-right: 10px; background-repeat: no-repeat; background-position: center center; }
#block-related-heading:before {content: ''; background-image: url("../images/product-ymal-icon.png"); display: inline-block; height: 27px; width: 28px; vertical-align: middle; margin-right: 10px; background-repeat: no-repeat; background-position: center center; }
.product.attribute.description p {margin-bottom: 20px; color: #7a7a7a; font-size: 15px; line-height: 24px; }
.product.attribute.description ul > li {color: #7a7a7a; margin-left: 20px; font-size: 15px; line-height: 24px; }
.box-tocart .action.tocart {margin-bottom: 0; margin-right: 0; width: 100%; max-width: 470px; background-color: #58bcb6; color: white; text-transform: uppercase; font-size: 25px; height: 57px; padding: 0; box-shadow: -4px -4px #45908b inset; transition: 0.3s opacity;}
#product-addtocart-button span::before {content: ''; background-image: url("../images/atc-cart.png"); display: inline-block; height: 21px; width: 21px; background-position: center center; background-repeat: no-repeat; margin-right: 10px; }
.you-save {color: #b25252; font-size: 17px; font-style: italic; }
.you-save .ys-label {margin-right: 5px; }
.field.choice.related {display: none; }
.related .content .block-actions {display: none; }
.product-item-details .you-save {display: none; }
.preorder-bootan > span:before {content: '\e605'; font-family: 'luma-icons'; margin-right: 5px; }
.preorder-bootan > span {color: #ca9a58; text-transform: uppercase; font-size: 12px; }
.preorder-bootan {border: 1px solid #eeb75d; display: block; vertical-align: middle; padding: 10px 10px; margin-bottom: 10px; text-align: center; cursor: pointer;}
.preorder-bootan:hover > span {color: white; }
.preorder-bootan:hover {background-color: #eeb75d; color: white; }
input#checkbox-preorder + label {font-size: 12px; vertical-align: middle; display: inline-block; width: calc(100% - 40px); line-height: 12px; }
#checkbox-preorder {margin-right: 5px; margin-left: 5px; display: inline-block; vertical-align: middle; }
.modal-content p {margin-bottom: 20px; }
.modal-content .popupSubTitles {font-weight: bold; margin-top: 0px; }
@media all and (min-width: 1200px) {
	.preorder-bootan {display: inline-block; margin-bottom: 0; }
	input#checkbox-preorder + label {width: calc(100% - 180px); }
}

/* Cart */
.checkout-cart-index .minicart-wrapper, .checkout-index-index .minicart-wrapper,
.cart-checkout .header.links, .cart-checkout .page-footer > .footer.content{display: none;}
.cart-checkout header.page-header{border-bottom: 10px solid #ebe2c9; margin-bottom: 20px;}
.cart-checkout header.page-header .logo{width: 30%}
.cart-quick-easy{display: inline-block; color: #82f0e9; font-size: 25px; margin-left: 12.5%; vertical-align: middle}
.cart-checkout header.page-header .header-right{ float: right; padding: 0; width: auto; padding: 25px 0}
.cart-checkout .page-footer{border-top:1px solid #d7d7d7;}
.cart.item .product-item-name, .cart.item .product-item-name > a {text-align: left; color: #5a6364; font-size: 16px; }
.cart.table-wrapper .col.price .price-excluding-tax .price {color: #5a6364; font-weight: normal; font-size: 18px; }
.cart.table-wrapper .col.subtotal .price-excluding-tax .price {color: #58bcb6; font-weight: normal; font-size: 18px; }
.actions-toolbar > .primary .action:last-child, .cart-container .form-cart .actions.main .clear, button.action.update, .cart-discount .actions-toolbar button.action.apply, .gift-options .actions-toolbar .secondary .action, .gift-options .actions-toolbar .secondary .action-cancel {background-color: #e9e9e9; border-radius: 0; border: none; color: #6f6f6f; font-size: 12px; text-transform: uppercase; font-weight: bold; height: 36px; margin: 0 0 0 0; padding: 10px 15px; }
.cart-container .form-cart .actions.main .clear:hover, button.action.update:hover, .cart-discount .actions-toolbar button.action.apply:hover, .gift-options .actions-toolbar .secondary .action:hover, .gift-options .actions-toolbar .secondary .action-cancel:hover{text-decoration: underline; border: none; box-shadow: none; color: #6f6f6f; background-color: #e9e9e9; }
.cart-discount .actions-toolbar button.action.apply:not(:focus) {box-shadow: none; }
.cart-container .form-cart .actions.main .continue {display: inline-block; color: #e1b688; text-transform: uppercase; font-size: 12px; font-weight: bold; border: 1px solid #e1b688; padding: 8px 20px; float: left; }
.cart-container .form-cart .actions.main .clear {display: inline-block; }
.cart-container .form-cart .actions.main .continue > span:before {content: "\e617"; font-family: "luma-icons"; margin-right: 3px; font-size: 10px; }
.cart-summary .checkout-methods-items .action.primary.checkout > span::before {content: ""; background-image: url("../images/atc-cart.png"); display: inline-block; height: 15px; width: 15px; background-size: contain; background-repeat: no-repeat; margin-right: 5px; }
.cart-security {width: 100%; padding: 45px 20px 0; background-color: white; }
.security-item {display: block; clear: both; }
.security-item:before {display: inline-block; content: ""; height: 27px; width: 27px; vertical-align: top; background-repeat: no-repeat; background-position: center top; }
.security-item:nth-child(2) {margin: 30px 0; }
.sitems {display: inline-block; vertical-align: middle; margin-left: 10px; width: calc(100% - 50px); }
.security-item:nth-child(1):before {background-image: url(../images/cart-icon-lock.png); }
.security-item:nth-child(2):before {background-image: url(../images/cart-icon-phone.png); }
.security-item:nth-child(3):before {background-image: url(../images/cart-icon-box.png); }
.sitem-head, .sitem-sub {color: #ce9a63; }
.sitem-sub {font-size: 11px; line-height: 12px; }
.sitem-head {text-transform: uppercase; font-size: 14px; line-height: 14px; }
.action.multicheckout {display: none; }
.sitem-sub a {color: #ce9a63; }
.paypal.checkout.after input {width: 100%; max-width: 170px; }
.cart-bottom-quick-easy {margin-top: 40px; clear: both; display: none; }
.cart-bottom-quick-easy .security-item {width: 230px; margin: 0 auto; }
.cart-bottom-quick-easy .security-item:nth-child(2) {margin: 30px auto; }


/* CO */
.opc-progress-container{max-width: 790px; margin: 20px auto 0;}
.opc-progress-bar-ul{list-style: none; padding: 0;  width: 100%; text-align: center; font-size: 0;}
.opc-progress-bar-step{display: inline-block; vertical-align: middle; font-size: 14px; color: #6f6f6f; text-transform: uppercase; letter-spacing: 1px; position: relative; text-align: right; width: 33%; padding: 35px 0 0; margin-top: 10px;}
.opc-progress-bar-step:first-child span{margin-right: -20px;}
.opc-progress-bar-step:nth-child(2) span{margin-right: -62px;}
.opc-progress-bar-step:nth-child(3) span{margin-right: -4px;}
.opc-progress-bar-step:before{content: ""; border:2px solid #6f6f6f; background: #fff; display: block; vertical-align: middle; width: 30px; height: 30px; font-size: 18px; border-radius: 25px; line-height: 30px; text-align: center; letter-spacing: 0; padding-left: 1px; margin: 0 auto 5px; position: absolute; right: 0; top:0;}
.opc-progress-bar-step:first-child:before{content: "\f00c"; font-family: 'FontAwesome'}
.opc-progress-bar-step:nth-child(2):before{content: "2";}
.opc-progress-bar-step:nth-child(3):before{content: "3";}
.opc-progress-bar-step._active{color: #6ecfc9;}
.opc-progress-bar-step._active:before{color: #fff; background: #6ecfc9; border-color: #6ecfc9;}
.opc-progress-bar-step:after{background: #6f6f6f; content: ""; position: absolute; left:0; top:14px; width: 100%; height: 8px; z-index: -1;}
.opc-progress-bar-step:first-child::after { border-radius: 6px 0 0 6px;}
.opc-progress-bar-step:last-child::after {border-radius: 0 6px 6px 0;}
.opc-progress-bar-step._active::after {background: #6ecfc9 none repeat scroll 0 0;}
.checkout-container .authentication-wrapper {bottom: -30px; float: left; margin: 0; max-width: 100%; position: relative; width: 100%;  z-index: 99;}
.authentication-wrapper > .action { background: #e9e9e9; box-shadow: none; color: #6f6f6f; font-size: 12px; padding: 7px 15px; text-decoration: none; font-weight: bold; text-transform: uppercase}
.authentication-wrapper > .action:hover{opacity: .8;}
.cart-checkout .opc-wrapper{width: 72%; padding-right: 40px}
.cart-checkout .opc-sidebar{width: 28%; margin: 70px 0 20px;}
.opc-wrapper .step-title{color: #1d1d1d; font-weight: bold; font-size: 20px; border-bottom: 3px solid #1d1d1d; text-transform: uppercase}
.cart-checkout .fieldset > .field > .label, .cart-checkout .fieldset > .fields > .field > .label{margin-bottom: 3px; font-size: 13px; color: #363636;}
.fieldset > .field.required > .label::after, .fieldset > .fields > .field.required > .label::after, .fieldset > .field._required > .label::after, .fieldset > .fields > .field._required > .label::after{color: #e1b688;}
.opc-wrapper input[type="text"], .opc-wrapper input[type="password"], .opc-wrapper input[type="email"], .opc-wrapper textarea{background: #fff; border-color: #afafaf;}
.field-tooltip .field-tooltip-action::before{width: 25px;}
#customer-email-fieldset .note{font-size: 14px; color: #58bcb6;}
#shipping-method-buttons-container{padding: 15px 0; border-top:1px solid #dbc4ad;}
.checkout-shipping-method .actions-toolbar .action.primary{ padding: 5px 40px; text-transform: uppercase}
/*.checkout-shipping-method .actions-toolbar .action.primary > span:before{font-family: 'FontAwesome'; content: "\f105"; margin-right: 5px; }*/
.opc-keep-shopping, .opc-keep-shopping:hover{text-decoration: none; color: #e1b688; border:1px solid #e1b688; font-weight: bold; font-size: 12px; padding: 11px 20px; display: block; line-height: 1; }
.opc-block-summary{border-top: 1px solid #dbc4ad; border-bottom: 1px solid #dbc4ad; padding: 15px 10px; background: #f6f6f6; margin: 0 0 30px}
.opc-block-summary > span.title{font-size: 18px; color: #363636; text-align: left; font-weight: normal;}
.opc-block-summary .items-in-cart > .title{display: none;}
.opc-block-summary .items-in-cart > .title strong{font-size: 18px; font-weight: 600; color: #363636;}
.opc-block-summary .minicart-items{display: block !important; font-size: 13px; color: #5a6364;}
.minicart-items .product-item-name{color:#5a6364; font-size: 13px; text-align: left;}
.opc-block-summary .product-item .subtotal{font-size: 13px; color: #5a6364;}
.opc-block-summary .details-qty{font-size: 13px}
.opc-trust-column{padding: 0 30px}
.trust-col-div{margin: 0 0 30px; background: url('../images/cart-icons-sprites.png') no-repeat 0 0; color: #ce9a63; font-size: 14px; padding-left: 35px;}
.trust-secure{}
.trust-questions{background-position: 0 -57px;}
.trust-international{background-position: 0 -115px;}
.trust-title{font-size: 14px; line-height: 1; text-transform: uppercase}
.trust-text{font-size: 11px;}
.trust-text a{text-decoration: underline; color: #ce9a63;}
#block-discount-heading span {font-size: 20px; color: black; font-weight: bold; text-transform: uppercase; }
.checkout-success {margin: 30px 0 30px;}
.checkout-success span {font-weight: bold; }
.checkout-success p {margin-bottom: 10px; }

/* HP */
.owl-theme .owl-dots {text-align: center; -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot {display: inline-block; zoom: 1;}
.owl-theme .owl-dots .owl-dot span {width: 10px; height: 10px; margin: 5px 7px; background: white; display: block; -webkit-backface-visibility: visible; transition: opacity 200ms ease; border-radius: 30px; border: 1px solid #6e6e77; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #6e6e77; }

.cms-home #maincontent {max-width: 100%; padding: 0; width: 100%; }
.cms-home #maincontent .page-title-wrapper {display: none;}
.hp-topbanner-bg {background-color: black; background-size: cover; background-image: url("../images/tvandmovies-bg.jpg"); background-position: center top; background-repeat: no-repeat; clear: both; display: block; float: none; width: 100%; overflow: hidden; }
.hp-topbanner-wrapper {margin: 0 auto 20px; max-width: 410px; padding: 50px 10px 0; width: 100%; }
.hp-topbanner-wrapper p a {background-color: #82f0e9; border: 3px solid #82f0e9; }
.hp-tertiary-text p a, .hp-secondary-text p a, .hp-topbanner-wrapper p a {color: black; display: block; font-size: 15px; font-weight: bold; line-height: 35px; margin: 20px auto 0; text-align: center; text-transform: uppercase; width: 155px; }
.hp-topbanner-wrapper p a:hover {border: 3px solid black; text-decoration: none; }
.hp-secondary-text p a:hover {border: 3px solid white; text-decoration: none; }
.hp-secondary-text p a {background-color: #0064ca; border: 3px solid #0064ca; color: white; }
.hp-tertiary-text p a {background-color: #ffe779; border: 3px solid #ffe779; color: black; }
.hp-tertiary-text p a:hover {border: 3px solid black; text-decoration: none; }
.hp-tertiary-text p a:after, .hp-secondary-text p a:after, .hp-topbanner-wrapper p a:after {content: "\e608"; font-family: "luma-icons"; font-size: 13px; font-weight: bold; margin-left: 3px; }
.hp-topbanner-wrapper h1 {font-family: "oswald"; font-size: 80px; color: white; font-weight: 500; }
.hp-topbanner-wrapper h2 {color: white; font-size: 20px; }
.hp-topbanner-carousel .block-content {background-color: white; display: block; height: 308px; margin: 0 auto; max-width: 928px; width: 100%; }
.hp-tertiary-items .product-item .price-box, .hp-secondary-items .product-item .price-box, .hp-topbanner-carousel .product-item .price-box {display: none; }
.hp-tertiary-items .product-item .product-item-name, .hp-topbanner-carousel .product-item .product-item-name, .hp-secondary-items .product-item .product-item-name {text-align: left; width: 90%; overflow: hidden; height: 20px; text-overflow: ellipsis; white-space: nowrap; }
.hp-tertiary-items .product-item .product-item-name > a, .hp-secondary-items .product-item .product-item-name > a, .hp-topbanner-carousel .product-item .product-item-name > a {font-size: 13px; }
.hp-tertiary-items .product-item .product-image-container, .hp-secondary-items .product-item .product-image-container, .hp-topbanner-carousel .product-item .product-image-container {border: none; }
.hp-topbanner-carousel .block-title {margin: 0 auto; max-width: 435px; text-align: center; }
.hp-topbanner-carousel .block-title strong {background-color: white; display: inline-block; font-size: 18px; width: calc(100% - 50px); color: #ca8c51; line-height: 29px; }
.hp-topbanner-carousel .block-title strong span {font-weight: bold; }
.hp-topbanner-carousel .block-title:before {background-image: url("../images/hp-top-item-banner-left.png"); content: ""; width: 25px; height: 29px; display: inline-block; float: left; }
.hp-topbanner-carousel .block-title:after {background-image: url("../images/hp-top-item-banner-right.png"); content: ""; width: 25px; height: 29px; display: inline-block; float: right; }
.page-layout-1column .block.widget .products-grid .owl-stage .product-item {width: 100%; max-width: 240px; }
.page-layout-1column .block.widget .products-grid .owl-stage .product-item .product-image-photo {max-height: 220px; width: auto; }
.hp-topbanner-carousel .block.widget .products-grid .product-items {overflow: hidden; display: block; margin: 0 auto; }
.hp-topbanner-carousel {margin-bottom: 10px; }
.owl-carousel {display: block; }
.hp-topbanner-carousel .products-grid.grid {position: relative; }
.hp-owlnav {display: block; width: 100%; position: absolute; top: calc(50% - 19px); }
.hp-owlprev, .hp-owlnext {display: block; width: 37px; height: 37px; cursor: pointer; }
.hp-owlprev {position: absolute; background-image: url("../images/hp-carousel-left.png"); left: -20px; }
.hp-owlnext {position: absolute; background-image: url("../images/hp-carousel-right.png"); right: -20px; }
.hp-usp-wrapper {background-color: #daf2ff; margin: 5px 0; color: #1d1d1d; font-size: 25px; text-align: center; padding: 22px 0; font-style: italic; }
.hp-usp-wrapper div {display: inline-block; vertical-align: middle; }
.hp-usp-wrapper div:before {background-image: url("../images/hp-usp-left.png"); margin-right:5px; }
.hp-usp-wrapper div:after {background-image: url("../images/hp-usp-right.png"); margin-left:5px; }
.hp-usp-wrapper div:before, .hp-usp-wrapper div:after {content: ''; display: inline-block; vertical-align: middle; background-position: center center; background-repeat: no-repeat; height: 35px; width: 36px; }
.hp-secondary-bg {background-image: url("../images/comics-bg.jpg"); background-repeat: no-repeat; background-position: center top; background-color: #c3c4cf; background-size: cover; clear: both; display: block; width: 100%; overflow: hidden; }
.hp-tertiary-bg {background-image: url("../images/gaming-bg.jpg"); background-repeat: no-repeat; background-position: center top; background-color: #091c1f; background-size: cover; clear: both; display: block; width: 100%; overflow: hidden; }
.hp-secondary-bg h1 a {font-size: 75px; color: #1d1d1d; font-family: "oswald"; font-weight: 500; }
.hp-tertiary-bg h1 a {font-size: 75px; color: white; font-family: "oswald"; font-weight: 500; }
.hp-secondary-bg h2 a {font-size: 20px; color: #1d1d1d; }
.hp-tertiary-bg h2 a {font-size: 20px; color: white; margin-top: 10px; }
.hp-tertiary-wrapper, .hp-secondary-wrapper {max-width: 1200px; padding: 0 10px; margin: 0 auto; }
.hp-tertiary-text, .hp-secondary-text {display: block; max-width: calc(100% - 600px); padding: 50px 0; text-align: center; vertical-align: middle; width: 100%; }
.hp-secondary-text {float: left; }
.hp-tertiary-text {float: right; }
.hp-tertiary-items, .hp-secondary-items {display: block; max-width: 590px; vertical-align: middle; width: 100%; }
.hp-secondary-items > .block-products-list > .block-title, .hp-tertiary-items > .block-products-list > .block-title {display: none; }
.hp-secondary-items {float: right; }
.hp-tertiary-items {float: left; }
.page-layout-1column .hp-tertiary-bg .block.widget .products-grid .product-item, .page-layout-1column .hp-secondary-bg .block.widget .products-grid .product-item {background-color: white; display: block; float: left; height: 306px; padding: 0 10px; width: calc(50% - 20px); }
.hp-tertiary-bg .product-item-photo, .hp-secondary-bg .product-item-photo {display: inline-block; max-width: 230px; width: 100%; }
.hp-tertiary-items .product-image-container, .hp-secondary-items .product-image-container {border: medium none; }
.hp-shopby-bg {background-color: #1d1d1f; margin: 5px 0; }
.hp-shopby-wrapper {margin: 0 auto; max-width: 1200px; padding: 30px 10px; width: 100%; }
.hp-shopby-wrapper .footer-txt a {border: 1px solid #82f0e9; color: #82f0e9; display: block; font-size: 12px; font-weight: bold; padding: 5px 10px; text-transform: uppercase; margin-top: 5px; width: 100px; text-align: center; }
.hp-shopby-wrapper .footer-txt a:hover {text-decoration: none; color: white; border: 1px solid white; }
.hp-shopby-wrapper .footer-txt a:after {content: "\e608"; font-family: "luma-icons"; font-size: 10px; font-weight: bold; margin-left: 3px; }
.hp-shopby-bg .widget.block-static-block {display: inline-block; text-align: center; vertical-align: middle; width: calc(100% - 210px); }
.page-layout-1column .hp-tertiary-bg .block.widget .products-grid .product-item:first-child,
.page-layout-1column .hp-secondary-bg .block.widget .products-grid .product-item:first-child {
	margin: 0 5px 0 0;
}
.page-layout-1column .hp-tertiary-bg .block.widget .products-grid .product-item:last-child,
.page-layout-1column .hp-secondary-bg .block.widget .products-grid .product-item:last-child {
	margin: 0 0 0 5px;
}
.hp-preorder-bg, .hp-new-bg {margin-top: 80px; }
.hp-preorder-wrapper, .hp-new-wrapper {max-width: 1200px; margin: 0 auto; width: 100%; padding: 0 10px; position: relative; }
.shopall {position: absolute; right: 0; color: #5cc7c1; text-transform: uppercase; font-size: 13px; font-weight: bold; top: 25px;}
.shopall:after {content: '\e608'; font-family: 'luma-icons'; font-size: 10px; margin-left: 5px; }
.modal-preorder {display: none; }
.hp-tertiary-items .inStockBadge, .hp-tertiary-items .reserveBadge, .hp-secondary-items .inStockBadge, .hp-secondary-items .reserveBadge, .hp-topbanner-carousel .inStockBadge, .hp-topbanner-carousel .reserveBadge {
	border: none;
}
.hp-tertiary-items .old-price, .hp-secondary-items .old-price, .hp-topbanner-carousel .old-price {display: none; }
.footer-gutter .grid-item:last-child a {text-decoration: underline; cursor: pointer; }
@media all and (max-width: 1010px) {
	.hp-shopby-wrapper .footer-txt a {margin: 5px auto 0; }
	.hp-shopby-bg .widget.block-static-block {width: 100%; }
}
@media all and (max-width: 1000px) {
	.hp-topbanner-carousel {width: calc(100% - 60px); margin: 0 auto 10px; }
}

@media all and (max-width: 979px){
    /* SP 1 */
    .subcat{width: 24%}
    .subcat-img{height: 200px}
    .subcat-img a img{max-height: 180px}

    /* Cart */
    .cart-checkout header.page-header .header-right{display: none;}
    .cart-checkout header.page-header .logo{width: 50%;}
    .cart-quick-easy{float: right; text-align: right; margin: 0; padding:16px 0;}

    /* Checkout - CO */
    .cart-checkout .opc-wrapper{width: 60%; padding-right: 20px}
    .cart-checkout .opc-sidebar{width: 40%; margin: 70px 0 20px;}

    /* Home Page */
    .hp-secondary-bg, .hp-tertiary-bg {background-size: auto auto; background-color: white; }
    .hp-secondary-items, .hp-tertiary-items {clear: both; display: block; float: none; max-width: 100%; width: 100%; }
	.page-layout-1column .hp-tertiary-bg .block.widget .products-grid .product-item, .page-layout-1column .hp-secondary-bg .block.widget .products-grid .product-item {width: calc(50% - 5px); }
	.hp-tertiary-text, .hp-secondary-text {margin: 10px auto; max-width: 100%; padding: 10px 0; width: 100%; float: none; }
	.hp-shopby-bg .widget.block-static-block {width: 100%; }
	.hp-usp-wrapper div:before, .hp-usp-wrapper div::after {display: none; }
}

@media all and (max-width: 767px){
    .nav-sections{margin-bottom: 0}
    .navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon), .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon){margin-left: 0}
	.navigation .submenu:not(:first-child) > li.ui-menu-item.all-category > a{font-style:italic;color:#737373}
	.navigation .submenu:not(:first-child) > li.ui-menu-item.all-category > a:after{content:"\f105";font-family:"FontAwesome";margin-left:10px;color:#d29b66;font-style:normal}*/
	.navigation .level0 > .level1:before {content: "\00b7"; margin-right: 6px; font-size: 32px; line-height: 20px; color: #dbc4ad; display: inline-block; height: 20px; width: 10px; margin-left: 15px; vertical-align: middle; }
	.page-layout-1column .hp-tertiary-bg .block.widget .products-grid .product-item, .page-layout-1column .hp-secondary-bg .block.widget .products-grid .product-item {height: auto;}
	.hp-preorder-bg, .hp-new-bg {margin-top: 40px; }
	.shopall {padding-right: 10px; }

    /* SP 1 */
    .breadcrumbs{display: block; margin: 10px 0 15px;}
    .subcat{width: 49%; max-width: 165px;}
    .subcat-img{height: 150px}
    .subcat-img a img{max-height: 130px}

    /* Cart */
    .cart-checkout header.page-header .logo { width: 55%;}
    .cart-quick-easy{font-size: 16px; line-height: 1.2; padding: 0;}
    .cart-quick-easy b{display: block}
	.cart-checkout h1.page-title {margin-bottom: 10px; color: #1d1d1d; font-size: 26px; font-weight: bold; }
	.cart.table-wrapper .col.subtotal {text-align: right; }
	.cart-totals tbody .amount {font-size: 16px; color: #363636; }
	.cart-summary .cart-security {display: none; }
	.cart-bottom-quick-easy {display: block; }
	.security-item::before {vertical-align: middle; }


    /* Checkout - CO */
    .opc-progress-bar-ul{font-size: 0; margin: -10px 0 0;}
    .opc-progress-bar-step span{display: none;}
    .opc-estimated-wrapper{margin-top: 0;}
    .cart-checkout .opc-wrapper{width: 100%; padding-right: 0px; float: none}
    .cart-checkout .opc-sidebar{width: 40%; margin: 70px 0 20px;}
    .checkout-container .authentication-wrapper{text-align: right; bottom: -25px;}
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping{background: none;}


    /* Item Page */
    .box-tocart .action.tocart {max-width: 100%; }
    .fotorama__wrap {padding-left: 0px; }

    /* Home Page */
    .hp-topbanner-carousel .block-title strong {font-size: 14px; }
    .hp-topbanner-carousel {width: 100%; }
    .hp-owlnav {display: none; }
    .hp-topbanner-wrapper h1, .hp-secondary-bg h1, .hp-tertiary-bg h1 {font-size: 28px; text-align: center; }
    .hp-topbanner-wrapper h2, .hp-secondary-wrapper h2, .hp-tertiary-wrapper h2 {font-size: 15px; text-align: center; }
    .hp-topbanner-carousel .products-grid.grid {padding: 0 10px; }
    .hp-usp-wrapper {font-size: 18px; }
}