<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->


<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'opc-sidebar opc-summary-wrapper',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="opc-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="opc-trust-column">
        <div class="trust-col-div trust-secure">
            <div class="trust-title">Secure Shopping</div>
            <div class="trust-text">256 Bit Encryption</div>
        </div>
        <div class="trust-col-div trust-questions">
            <div class="trust-title">Questions?</div>
            <div class="trust-text">Call Us: 888-698-7767</div>
        </div>
        <div class="trust-col-div trust-international">
            <div class="trust-title">International Shipping</div>
            <div class="trust-text"><a href="/shipping-return-policy">See Details</a></div>
        </div>
    </div>
</div>
