*.htaccess
bin/**
dev/**
lib/**
phpserver/**
pub/**
setup/**
update/**
var/**
vendor/**
app/etc/**
nginx.conf.sample
index.php
composer.lock
composer.json
app/functions.php
app/bootstrap.php
app/autoload.php
.htaccess.sample
.php_cs
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
COPYING.txt
Gruntfile.js.sample
ISSUE_TEMPLATE.md
LICENSE.txt
LICENSE_AFL.txt
app/.gitignore
app/README.md
package.json.sample
php.ini.sample